.blueBody{
    background-image: url("../img/Meehmt.png");
    height: 900px;                                  /* Voor positionering van bg image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.redBody{
    background-image: url("../img/meehmtred.png");
    height: 900px;                                       /* Voor positionering van bg image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainBody{
    background-image: url("../img/redblue.png");

    min-height: 900px;                                  /* Voor positionering van bg image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title, .desc{
    justify-content: center;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.title{
    font-size: 3em;
}

.desc{
    font-size: 1.3em;
}

body{
    background-color: black;
    color: white;

}

.choice{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.choice img{
    width: 35vw;
    min-width: 20em;
}

.blueMain{
    display: flex;
    justify-content: center;
    margin: 7vw 24vw 0 0;
    opacity: 0.8;

}

.blueButton{
    margin-right: 3vw;
    width: 14vw;
    font-size: 2.5vw;
    height: 10vw;
}

.returnBlueButton{
    width: 14vw;
    font-size: 2.5vw;
    height: 10vw;

}

.redMain{
    display: flex;
    justify-content: center;
    padding: 6vw 0 0 24vw;
    opacity: 0.8;

}

.redButton{
    margin-right: 3vw;
    width: 14vw;
    font-size: 2.5vw;
    height: 10vw;
}

.returnRedButton{
    width: 14vw;
    font-size: 2.5vw;
    height: 10vw;

}

.catBody{
    background-color: white;
    color: black;
    background-image: url("../img/catBG.jpg");

                                     /* Voor positionering van bg image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;

}

.Images img{
    width: 32%;

    margin: 5px;

}

.Images{
    flex-grow: 1;
    text-align: center;
    flex-wrap: wrap;
}

.Maya{
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.3em;
    font-family: 'Bebas Neue', cursive;
    padding: 3px 0 10px 0;
    margin: 0 0 1em 0;

}

.catBody header{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;

}

.Maya h2{
    font-size: 1.4em;
}

.regretButton{
    width: 10em;
    height: 4em;

}

.meehmtMain{
    display: flex;
    text-align: center;
    margin: 0 5%;
    font-size: 1.1em;
    font-family: 'Bebas Neue', cursive;
}

.meehmtMain h3{
    font-size: 1.4em;
}

.meehmtDesc p{
    text-align: left;
    font-size: 1.3em;
    margin: 1.1em 0;
}

.meehmtBio{
    width: 40vw;
    background-color: rgba(255,0,0,0.9);
}

.meehmtBio img{
    width: 30vw;
}

.meehmtDesc{
    width: 60vw;
    margin-right: 5%;
}

.meehmtHeader{
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    color: black;
    font-family: 'Bebas Neue', cursive;
}

.meehmtNav{

}

blockquote{
    margin: 3% 0;
    font-size: 1.3em;
}

footer{
    position: fixed;                                    /* Zorgt er voor dat de footer op een vaste positie blijft relatief aan het scherm */
    bottom: 0;                                          /* Zorgt er voor dat de footer onderaan blijft */


}